<div class="container">
<div id="slides"> 
	  <div id="box1" class="box">
        <h1 class = "head">The Stroop Effect <img src="/assets/favicon.png" style = "height:1em;"></h1>
        </br>
        <h4>What is the stroop effect?</h4>
        <p>The Stroop Effect is the phenomena that occurs when the brain tries to process two streams of information simultaneously. Interference from one stream delays the processing of the other.</p>
        </br>
        <h4>Why am I here?</h4>
        <p>You're a lab rat in our expirement.</p>
        </br>
        <div class="row-fluid">
          <div class = "span3 offset5">
            <a href="#"><div class = "link"><h3 class = "spinner">Instructions >></h3></div></a>
          </div>
        </div>  
      </div>
      <div id="box2" class="box">
        <h1 class="head">Instructions <img src="/assets/instructions.png" style = "height:0.9em;"></h1>
        </br>
        <h4>This expirement consists of two parts.</h4>
        <h5>In part one...</h5>
        <p>names of colours will appear in black ink. You have to choose the named colour from a pallet.</p>
        <h5>In part two.. </h5>
        <p>the same expirement will be repeated but instead of black ink coloured ink will be used.</p>
        <p><i>PS: Remember that you have to select the colour which is NAMED rather than used as ink.</i></p>
        </br>
        <h4>Please keep in mind..</h4>
        <ul>
          <li><p>Before starting the experiment you have to run your browser in full screen mode <i>(Press F11 for most browsers).</i></p></li>
          <li><p>Please do not stop in the middle of the expirement. This will give us false results.</p></li>
          <li><p>Please use either a mouse or trackpad for both parts. Do not use one each.</p></li>
        </ul>
        <h3>Are you ready?</h3>
        <div class="row-fluid">
          <div class = "span3 offset5">
            <a href="#"><div class = "link"><h3 class = "spinner start_timer">Expirement >></h3></div></a>
          </div>
        </div>  
      </div>
      <div id="box3" class= "box">
      	<div class = "center">
      		<div class = "middle margintop" id= "middle">
      			<h1 id="countdown" class="xlarge">3</h1>
      		</div>
      	</div>
      </div>
</div>
</div>