
<div class = "main">
	<table class = "table table-striped float" style="width:500px; margin-top:50px;" >
	<tr>
		<td><b>#</b></td>
		<td><b>match</b></td>
		<td><b>mismatch</b></td>
	</tr>
	<% @results.each do |r| %>
		<tr>
		<td> <%= r.id %> </td>
		<td> <%= r.match %> </td>
		<td> <%= r.mismatch %> </td>
		</tr>
	<% end %>
	</table>
</div>
